
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCRotativaCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>    
    <div class="container">
        <hr style="height: 1.5px; background-color: #008E5A;" />
        <h6 style="text-align: center;">Priv. Emilio Ibarra No. 5, Barrio San Diego, Tlaxiaco, Oax., Teléfono: 55 21832, Whatsapp:9531070603.</h6>
       
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>