@model RafaelReyesSpindola.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="container col-md-10">
        <div class="card shadow-lg rounded-lg my-4">
            <div class="card-header">
                <img class="" src="~/images/user-creating.png" style="height: 50px; display:block; margin: auto; margin-top: 15px;">
                <div class="row">
                    <div class="form-group col d-flex justify-content-center mt-2 mb-0">
                        <h6 class="badge badge-warning">Creando usuario</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="col col-6">
                            <div class="alert alert-warning" style="padding: 5px; padding-left: 10px;">
                                Datos personales
                            </div>
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label asp-for="ApellidoPaterno" class="control-label"></label>
                                    <input asp-for="ApellidoPaterno" class="form-control" />
                                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="ApellidoMaterno" class="control-label"></label>
                                    <input asp-for="ApellidoMaterno" class="form-control" />
                                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label asp-for="FechaNacimiento" class="control-label"></label>
                                    <input asp-for="FechaNacimiento" class="form-control" />
                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Edad" class="control-label"></label>
                                    <input asp-for="Edad" class="form-control" />
                                    <span asp-validation-for="Edad" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="alert alert-danger" style="padding: 5px; padding-left: 10px;">
                                Datos de la cuenta
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label asp-for="NombreUsuario" class="control-label"></label>
                                    <input asp-for="NombreUsuario" class="form-control" />
                                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Correo" class="control-label"></label>
                                    <input asp-for="Correo" class="form-control" />
                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                </div>
                            </div>
                            <div>
                                <!--Lista de conceptos-->
                                <h6 style="margin-top: 2px;">*Asigne al menos un rol al usuario</h6>
                                <div class="">
                                    <table class="table table-borderless table-sm">
                                        <!--Inicio de la tabla-->
                                        <tr>
                                            @{
                                                int cnt = 0;
                                                List<RafaelReyesSpindola.Models.SchoolViewModels.AssignedRoleData> roles = ViewBag.Roles;

                                                foreach (var rol in roles)
                                                {
                                                    if (cnt++ % 3 == 0)
                                                    {
                                                    @:</tr><tr>
                                                    }
                                                    @:<td>
                                                        <div class="row" style="margin-top: 9px;">
                                                            <div class="col col-1">
                                                                <input type="checkbox" name="selectedRoles" value="@rol.RolID" @(Html.Raw(rol.Assigned ? "checked=\"checked\"" : "")) />
                                                            </div>
                                                            <div class="col">@rol.Descripcion</div>
                                                        </div>

                                                    @:</td>
                                                }
                                            @:</tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="control-label" asp-for="Password"></label>
                                        <input type="password" asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" style="float: right;" />
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index">Volver a la lista de usuarios</a>
                </div>
            </div>

        </div>

    </div>
    <br />
    <br />
