@model RafaelReyesSpindola.Models.SchoolViewModels.ChangePassword

@{
    ViewData["Title"] = "Password";
}
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg rounded-lg my-4">
                <div class="card-header">
                    <h4 class="text-center font-weight-light">Cambio de contraseña</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Usuarios" asp-action="Password">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID" />
                        <div class="row">
                            <div class="form-group col">
                                <label class="small mb-1">Usuario</label>
                                <input class="form-control" type="text" asp-for="NombreUsuario" placeholder="Ingrese su usuario" />
                                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group col">
                                <label class="small mb-1" for="inputPassword">Contraseña</label>
                                <input class="form-control" type="password" asp-for="OldPassword" placeholder="Ingrese su contraseña" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label class="small mb-1" for="inputPassword">Nueva Contraseña</label>
                                <input class="form-control" type="password" asp-for="NewPassword" placeholder="Ingrese su nueva contraseña" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group col">
                                <label class="small mb-1" for="inputPassword">Confirmar Contraseña</label>
                                <input class="form-control" type="password" asp-for="ConfirmarPassword" placeholder="Confirme su contraseña" />
                                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col d-flex justify-content-start mt-4 mb-0">
                                <a class="btn btn-secondary" asp-area="" asp-controller="Usuarios" asp-action="Details" asp-route-id="@Model.ID">Volver</a>
                            </div>
                            <div class="form-group col d-flex justify-content-end mt-4 mb-0">
                                <input type="submit" class="btn btn-primary" value="Cambiar" />
                            </div>
                        </div>
                        
                    </form>
                </div>
                
                <div class="card-footer text-center">
                    <div class="small"></div>
                </div>
            </div>
        </div>
    </div>
</div>

