@model RafaelReyesSpindola.Models.ConceptoPago

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Concepto de Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarifa" class="control-label"></label>
                <input asp-for="Tarifa" class="form-control" />
                <span asp-validation-for="Tarifa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoPago" class="control-label"></label>
                <!--<input asp-for="PeriodoPago" class="form-control" />-->
                <select asp-for="PeriodoPago" class="form-control">
                    <option>Anual</option>
                    <option>Semestral</option>
                    <option>Bimestral</option>
                    <option>Mensual</option>
                    <option>Semanal</option>
                </select>
                <span asp-validation-for="PeriodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
