@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>La información o datos recopilados en este sistema, están bajo resguardo del Instituto Rafael Reyes Spíndola.</p>
